:root{
    --primary-just-coral: #ff7d7d;
    --primary-just-black: #373433;
    --secondary-just-washed-coral: #fab8b8;
    --neutral-just-grey-1: #737373;
    --neutral-just-grey-2: #999;
    --neutral-just-grey-3: #efeaea;
    --neutral-just-grey-4: #f6f4f4;
    --neutral-just-grey-5: #f2f2f2;
    --neutral-just-white: #fff;
    --table-body-color: #222422;
    --table-border-color: #a4a4a4;
    --pagination-border: #e6e6e6;
    --pagination-arrow-color: #b7b3af;
    --overlay-just-overlay-1: rgb(255 125 125 / 50%);
    --overlay-just-overlay-2: rgb(255 125 125 / 90%);
    --overlay-just-overlay-3: rgb(55 52 51 / 70%);
    --overlay-just-overlay-4: rgb(208 205 197 / 50%);
    --overlay-just-gradient-1: linear-gradient( 180deg, rgb(246 244 244 / 80%) 0%, rgb(217 217 217 / 0%) 90.91% );
    --just-shadow: 0 3px 20px rgb(0 0 0 / 10%);
    --primary-font: "Just Sans", sans-serif;
    --secondary-font: "Just Sans Bold", sans-serif;
    --tertiary-font: "Just Script", sans-serif;
    --just-italic-font: "Just Sans Italic", sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-size-stats: clamp(60px, 2vw + 52px, 74px);
    --font-size-h-plus: clamp(50px, 2vw + 42px, 72px);
    --font-size-h1: clamp(42px, 2vw + 34px, 60px);
    --font-size-h2: clamp(35px, 2vw + 26px, 50px);
    --font-size-h3: clamp(29px, 1.2207vw + 24px, 42px);
    --font-size-h4: clamp(24px, 1vw + 20px, 35px);
    --font-size-h5: clamp(20px, 1vw + 16px, 29px);
    --font-size-h6: clamp(17px, 1vw + 13px, 24px);
    --font-size-h6-sans: clamp(15px, 1vw + 13px, 20px);
    --font-size-h7: clamp(14px, 1vw + 12px, 20px);
    --font-size-h7-sans: clamp(13px, 0vw + 12px, 17px);
    --font-size-navigation: 17px;
    --font-size-text-link-cta: 16px;
    --font-size-intro: 20px;
    --font-size-body-cards: 16px;
    --font-size-body-2: 18px;
    --font-size-body-small: 14px;
    --font-size-tag: 14px;
    --font-size-footer-link: 14px;
    --font-size-breadcrumbs: 16px;
    --font-size-tab-intro: 19px;
    --font-size-tab-body-cards: 15px;
    --font-size-tab-body-2: 16px;
    --font-size-tab-body-small: 13px;
    --font-size-tab-tag: 13px;
    --font-size-tab-footer-link: 13px;
    --font-size-mob-navigation: 16px;
    --font-size-mob-text-link-cta: 14px;
    --font-size-mob-intro: 18px;
    --font-size-mob-body-cards: 15px;
    --font-size-mob-body-small: 13px;
    --line-height-stats: 105px;
    --line-height-h-plus: 72px;
    --line-height-h1: 60px;
    --line-height-h2: 50px;
    --line-height-h3: 42px;
    --line-height-h4: 42px;
    --line-height-h5: 35px;
    --line-height-h6: 29px;
    --line-height-h6-sans: 25px;
    --line-height-h7: 24px;
    --line-height-h7-sans: 20px;
    --line-height-navigation: 20px;
    --line-height-text-link-cta: 20px;
    --line-height-intro: 28px;
    --line-height-body-cards: 24px;
    --line-height-body-2: 30px;
    --line-height-body-small: 17px;
    --line-height-tag: 17px;
    --line-height-footer-link: 17px;
    --line-height-breadcrumbs: 18px;
    --letter-spacing-tag: 0.02em;
    --letter-spacing-breadcrumbs: 0.03em;
    --line-height-tab-stats: 86px;
    --line-height-tab-h-plus: 70px;
    --line-height-tab-h1: 58px;
    --line-height-tab-h2: 48px;
    --line-height-tab-h3: 41px;
    --line-height-tab-h4: 34px;
    --line-height-tab-h5: 28px;
    --line-height-tab-h6: 23px;
    --line-height-tab-h7: 19px;
    --line-height-tab-navigation: 20px;
    --line-height-tab-text-link-cta: 20px;
    --line-height-tab-intro: 27px;
    --line-height-tab-body-cards: 22px;
    --line-height-tab-body-2: 28px;
    --line-height-tab-body-small: 16px;
    --line-height-tab-tag: 16px;
    --line-height-tab-footer-link: 16px;
    --line-height-mob-stats: 72px;
    --line-height-mob-h-plus: 60px;
    --line-height-mob-h1: 50px;
    --line-height-mob-h2: 42px;
    --line-height-mob-h3: 35px;
    --line-height-mob-h4: 29px;
    --line-height-mob-h5: 24px;
    --line-height-mob-h6: 20px;
    --line-height-mob-h6-sans: 23px;
    --line-height-mob-h7: 17px;
    --line-height-mob-h7-sans: 20px;
    --line-height-mob-text-link-cta: 18px;
    --line-height-mob-intro: 26px;
    --body-cards: var(--font-weight-normal) var(--font-size-body-cards) var(--primary-font);
}